*{
margin: 0;
padding: 0;

}
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}
.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: red;
    margin-bottom: 20px;
    border-bottom:3px solid red;
    z-index: 2;
}
.logos{
    height: 40px;
    margin: 5px 10px;   
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid white ! important;
    border-bottom-left-radius: 20px ! important;
    border-bottom-right-radius: 0px ! important;
    box-shadow: none !important;
}
.input-group-text{
    background: white;
    border: 5px solid white !important;
    margin: 8.5px 10px 3px 0 !important;
    border-bottom-left-radius: 0px ! important;
    border-bottom-right-radius: 20px ! important;
    border-top-right-radius: 20px !important;
}
.search-box{
    display: inline-flex;
    width: 60%;
    margin-left: 0%;
    margin-top: 0%;
}
fa-search{
    color: green;
}
.manu-bar{
    width: 40%;
    height: 57px;
    float: right;
}
.manu-bar ul{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}
.manu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.fa-shopping-basket{
    margin-right: 5px;
}
@media only screen and (max-width: 980px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 1%;
    }
    .search-box{
        width: 100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}
.container{
    background: #fff;
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.container h2{
    background: red;
    color: white;
    width: 280px;
    height: 40px;
    font-size: 24px;
    padding: 5px;
    margin-top: 0;
}
.container h2::after{
    content: '';
    border-top: 40px solid red;
    border-right: 40px solid transparent;
    position: relative;
    left: 64px;
    top: 34px;
}
.row{
    margin-top: 30px;
}
.container img{
    width: 100%;
    height: 270px;
}
.product-bottom .fa{
    color: gold;
    font-size: 10px;
}
.product-bottom h3{
    color: #006400;
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #008080;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0%;
    width: 70px;
}
.product-top .overlay:hover{
    opacity: 1;
    margin-left: 5%;
    transition: 0.1s;
}
.overaly .fa{
    cursor: pointer;
    background-color: #000;
    color: #00bfff;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 10%;
}
.social_icon{
    cursor: pointer;
    width: 50%;
    height: 35px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 0%;
}
.icon img{
    margin-top: 5px;
    margin-bottom: 0px;
    width: 35px;
    height: 32px;
}
.icon{
    padding-top: 0px;
    padding-left: 35%;
}